@font-face {
  font-family: 'HoboStd';
  src: url('myFonts/HoboStd.otf');
}

@font-face {
  font-family: 'Heroes Legend';
  src: url('myFonts/HeroesLegend.ttf');
}

.text-white {
  color: #ffffff;
}

.colorIco {
  color: #bbbbbb;
}

#noBorder{
  border : 0;
}

.policeRubik {
  font-size: 15px;
  font-family: 'Rubik', sans-serif;
  font-weight: bold;
}

.round {
  border-radius: 50%;
  margin-top: -10px;
}

/* Application de la police Hero */
.policeHero {
  font-family: "Heroes Legend";
  font-size: 1.15rem;
}

/* Application de la police Hobo */
.policeHobo {
  font-family: "HoboStd";
}



