.selectStyle{
	width: 400px !important;
}

.centerF{
	margin-left: 30%;
}

.centerFT{
	margin-top: 20px;
	margin-left: 30%;
}


.pos{
	position: relative;
	//top: -80px !important;
	//left: -10px;
	z-index: 3000;
	width: 170px !important;
}
